.footer {
    padding-top: var(--grid-gap);
    padding-bottom: var(--grid-gap);
    background: linear-gradient(90deg, rgba(29, 91, 250, 1) 0%, rgba(23, 74, 204, 1) 35%);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: block;
    margin-bottom: 30px;

    width: 30px;
    height: 30px;

    transform: translateY(0);
}

.footer__nav {
    margin-bottom: 65px;
}


.footer__nav .nav__item:not(:last-child) {
    margin-right: 80px;
}

.footer__copy {
    font-size: 14px;
    line-height: 18px;
    color: var(--morning);
}
